
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
   scroll-behavior: smooth;
}

header{
    margin-bottom: 150px;
    background: var(--azzure);
}

a{
    text-decoration: none;
    display: inline-block;
}

:root{
    --white: #ffffff;
    --lightgrey: #D0D0D3;
    --grey: #4F7A8F;
    --black: #000000;
    --red: #ff0000;
    --blue: #0061FF;
    --azzure: #B4D0E7;
}
/* tag{
    color: var(--white);
} */

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: var(--white);
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    box-shadow: 0px 2px 3px rgba(90, 90, 90, 0.203);
    min-height: 15px;
    min-width: 1200px;
}

.fourbuttonleft{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 140px;
    margin-right: 20px;

}

.headermrg{
    margin-left: 20px;
}

.fontpropiety1{
    font-size: 17px;
    color: var(--black);
    padding-left: 20px;
    padding-right: 20px;
}

.fontpropiety2a{
    font-size: 17px;
    color: var(--white);
    background: var(--blue);
    padding: 5px 16px;
}

.fontpropiety2{
    font-size: 17px;
    color: var(--white);
    background: var(--blue);
    padding: 12px 16px;
}

.fontpropiety3{
    font-size: 16px;
    color: var(--white);
    background: var(--blue);
    padding: 10px;
    text-align: center;
}


.firstimp{
    width: 90%;
    height: 750px;
    background: var(--azzure);
    margin: 0 auto;
    margin-top: 75px;
    margin-right: 1%;
    padding-top: 80px;
    min-width: 1200px;
    padding-left: 10%;
}

.flex1{
    display: flex;
}

.flex2{
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: space-between;
    align-items: flex-start;
}

.font1{
    font-size: 17px;
}


h1{
    font-weight: 800;
    font-size: 77px;
    margin-right: 400px;
    padding-bottom: 50px;
}

.arrow{
    font-size: 50px;
    color: var(--black);
}

.jumbo{
    width: 850px;
}

    .uno{
        margin: 0 auto;
        max-width: 1000px;
    }

    h2{
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    h3{
        font-size: 28px;
    }

    h5{
        font-size: 15px;
    }

    .font5{
        font-size: 15px;
    }

.checkbox{
    display: flex;
    margin-bottom: 50px;

}

.font2{
    margin-right: 40px;
    margin-left: 20px;
}

.radiusboxes{
    width: 30px;
}

.cards{
    display: inline-block;
    border: 1px solid var(--lightgrey) ;
    width: calc(1000px / 3 );
    min-height: 800px;
}

.centr{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    border-bottom: 1px solid var(--lightgrey) ;
}

.flexcards{
    display: flex;
    justify-content: space-between;
}

.dots{
    display: inline-block block;
    list-style: none;
    padding-left: 30px;
    position: relative;
}

.user:before {
    font-family: "Font Awesome 5 Free";
    font-size: 17px;
    font-weight: 900;
    content: "\f007";
    color: var(--black);
    position: absolute;
    left: 2px;
    top: 1px;
    }

    .users:before {
        font-family: "Font Awesome 5 Free";
        font-size: 17px;
        font-weight: 900;
        content: "\f0c0";
        color: var(--black);
        position: absolute;
        left: 2px;
        top: 2px;
        }

    .folder:before {
        font-family: "Font Awesome 5 Free";
        font-size: 17px;
        font-weight: 900;
        content: "\f07b";
        color: var(--black);
        position: absolute;
        left: 2px;
        top: 39px;
        }

        .share:before {
            font-family: "Font Awesome 5 Free";
            font-size: 17px;
            font-weight: 900;
            content: "\f1e0";
            color: var(--black);
            position: absolute;
            left: 2px;
            top: 98px;
            }
    
            .check1:before {
                font-family: "Font Awesome 5 Free";
                font-size: 17px;
                font-weight: 900;
                content: "\f00c";
                color: var(--blue);
                position: absolute;
                left: 2px;
                top: 2px;
                }

                #ds{
                    padding-bottom: 0;
                }

                #dss{
                    padding-bottom: 0;
                }

                .check2:before {
                    font-family: "Font Awesome 5 Free";
                    font-size: 17px;
                    font-weight: 900;
                    content: "\f00c";
                    color: var(--blue);
                    position: absolute;
                    left: 2px;
                    top: 60px;
                    }

                    .check2b:before {
                        font-family: "Font Awesome 5 Free";
                        font-size: 17px;
                        font-weight: 900;
                        content: "\f00c";
                        color: var(--blue);
                        position: absolute;
                        left: 2px;
                        top: 40px;
                        }

                        .check2c:before {
                            font-family: "Font Awesome 5 Free";
                            font-size: 17px;
                            font-weight: 900;
                            content: "\f00c";
                            color: var(--blue);
                            position: absolute;
                            left: 2px;
                            top: 40px;
                            }

                    .check3:before {
                        font-family: "Font Awesome 5 Free";
                        font-size: 17px;
                        font-weight: 900;
                        content: "\f00c";
                        color: var(--blue);
                        position: absolute;
                        left: 2px;
                        top: 78px;
                        }

                        .check4:before {
                            font-family: "Font Awesome 5 Free";
                            font-size: 17px;
                            font-weight: 900;
                            content: "\f00c";
                            color: var(--blue);
                            position: absolute;
                            left: 2px;
                            top: 136px;
                            }

                            .check5:before {
                                font-family: "Font Awesome 5 Free";
                                font-size: 17px;
                                font-weight: 900;
                                content: "\f00c";
                                color: var(--blue);
                                position: absolute;
                                left: 2px;
                                top: 195px;
                                }
    

.lis::after{
    margin: 5px;
}



.lis, .ph5 {
    padding-bottom: 18.5px;
}


/* test scroll */

#scroll{
    background-color: var(--white);
    scroll-behavior: smooth;
}

/*  */

/* ------------------------------ */
    /* test hoover */

    .fontpropiety1:hover{
        padding-top: 3vh;
        padding-bottom: 2.8vh;
        border-bottom: 2px solid var(--grey);
        background-color: rgba(74, 74, 74, 0.074);
    }

    .fontpropiety2:hover, .fontpropiety3:hover{
        background-color: #3884ff;
    }






/* ------------------------------ */

/* flex cards */

.price{
    margin: 1.5vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.flex2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 380px;
}

.flex2b{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
}


.flex3{
    display: flex;
    flex-direction: column;
    height: 14vh;
    justify-content: space-between;
    min-height: 150px;
}

.hrl{
    width: 3vw;
}

/*  */

section{
    margin-bottom: 5vh;
    min-width: 1100px;
}