
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
   scroll-behavior: smooth;
}

header{
    margin-bottom: 150px;
    background: var(--azzure);
}

a{
    text-decoration: none;
    display: inline-block;
}

:root{
    --white: #ffffff;
    --lightgrey: #D0D0D3;
    --grey: #4F7A8F;
    --black: #000000;
    --red: #ff0000;
    --blue: #0061FF;
    --azzure: #B4D0E7;
}
/* tag{
    color: var(--white);
} */

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: var(--white);
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    box-shadow: 0px 2px 3px rgba(90, 90, 90, 0.203);
    min-height: 15px;
    min-width: 1200px;
}

.fourbuttonleft{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 140px;
    margin-right: 20px;

}

.headermrg{
    margin-left: 20px;
}

.fontpropiety1{
    font-size: 17px;
    color: var(--black);
    padding-left: 20px;
    padding-right: 20px;
}

.fontpropiety2a{
    font-size: 17px;
    color: var(--white);
    background: var(--blue);
    padding: 5px 16px;
}

.fontpropiety2{
    font-size: 17px;
    color: var(--white);
    background: var(--blue);
    padding: 12px 16px;
}

.fontpropiety3{
    font-size: 16px;
    color: var(--white);
    background: var(--blue);
    padding: 10px;
    text-align: center;
}

.fontpropiety4{
    font-size: 16px;
    color: var(--black);
    border: 1px solid var(--black);
    padding: 10px;
    text-align: center;
    max-width: 160px;
}

.fontpropiety5{
    font-size: 16px;
    color: var(--black);
    background-color: var(--white);
    padding: 10px 50px;
    text-align: center;
    
}



.firstimp{
    width: 90%;
    height: 750px;
    background: var(--azzure);
    margin: 0 auto;
    margin-top: 75px;
    margin-right: 1%;
    padding-top: 80px;
    min-width: 1200px;
    padding-left: 10%;
    min-width: 1200px;
}

.flex1{
    display: flex;
}

.flex2{
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: space-between;
    align-items: flex-start;
}

.flex4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.lilla{
    display: flex;
    background-color: #B4D0E7;
    padding: 7vw;
}

.font1{
    font-size: 17px;
}


h1{
    font-weight: 800;
    font-size: 77px;
    margin-right: 400px;
    padding-bottom: 50px;
    min-width: 1100px;
}

.arrow{
    font-size: 50px;
    color: var(--black);
}

.jumbo{
    width: 850px;
}

    .uno{
        margin: 0 auto;
        max-width: 1000px;
    }

    h2{
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    h3{
        font-size: 25px;
        margin-bottom: 20px;
    }

    h4{
        font-size: 18px;
    }

    h5{
        font-size: 15px;
    }

    .font5{
        font-size: 15px;
    }

    .font6{
        font-size: 16px;
    }

.checkbox{
    display: flex;
    margin-bottom: 50px;

}

.font2{
    margin-right: 40px;
    margin-left: 20px;
}

.radiusboxes{
    width: 30px;
}

.cards{
    display: inline-block;
    border: 1px solid var(--lightgrey) ;
    width: calc(900px / 3 );
    min-height: 800px;
}

.centr{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    border-bottom: 1px solid var(--lightgrey) ;
}

.flexcards{
    display: flex;
    justify-content: space-between;
}

.dots{
    display: inline-block block;
    list-style: none;
    padding-left: 30px;
    position: relative;
}

.user:before {
    font-family: "Font Awesome 5 Free";
    font-size: 17px;
    font-weight: 900;
    content: "\f007";
    color: var(--black);
    position: absolute;
    left: 2px;
    top: 1px;
    }

    .users:before {
        font-family: "Font Awesome 5 Free";
        font-size: 17px;
        font-weight: 900;
        content: "\f0c0";
        color: var(--black);
        position: absolute;
        left: 2px;
        top: 2px;
        }

    .folder:before {
        font-family: "Font Awesome 5 Free";
        font-size: 17px;
        font-weight: 900;
        content: "\f07b";
        color: var(--black);
        position: absolute;
        left: 2px;
        top: 39px;
        }

        .share:before {
            font-family: "Font Awesome 5 Free";
            font-size: 17px;
            font-weight: 900;
            content: "\f1e0";
            color: var(--black);
            position: absolute;
            left: 2px;
            top: 98px;
            }
    
            .check1:before {
                font-family: "Font Awesome 5 Free";
                font-size: 17px;
                font-weight: 900;
                content: "\f00c";
                color: var(--blue);
                position: absolute;
                left: 2px;
                top: 2px;
                }

                #ds{
                    padding-bottom: 0;
                }

                #dss{
                    padding-bottom: 0;
                }

                .check2:before {
                    font-family: "Font Awesome 5 Free";
                    font-size: 17px;
                    font-weight: 900;
                    content: "\f00c";
                    color: var(--blue);
                    position: absolute;
                    left: 2px;
                    top: 60px;
                    }

                    .check2b:before {
                        font-family: "Font Awesome 5 Free";
                        font-size: 17px;
                        font-weight: 900;
                        content: "\f00c";
                        color: var(--blue);
                        position: absolute;
                        left: 2px;
                        top: 40px;
                        }

                        .check2c:before {
                            font-family: "Font Awesome 5 Free";
                            font-size: 17px;
                            font-weight: 900;
                            content: "\f00c";
                            color: var(--blue);
                            position: absolute;
                            left: 2px;
                            top: 40px;
                            }

                    .check3:before {
                        font-family: "Font Awesome 5 Free";
                        font-size: 17px;
                        font-weight: 900;
                        content: "\f00c";
                        color: var(--blue);
                        position: absolute;
                        left: 2px;
                        top: 78px;
                        }

                        .check4:before {
                            font-family: "Font Awesome 5 Free";
                            font-size: 17px;
                            font-weight: 900;
                            content: "\f00c";
                            color: var(--blue);
                            position: absolute;
                            left: 2px;
                            top: 136px;
                            }

                            .check5:before {
                                font-family: "Font Awesome 5 Free";
                                font-size: 17px;
                                font-weight: 900;
                                content: "\f00c";
                                color: var(--blue);
                                position: absolute;
                                left: 2px;
                                top: 195px;
                                }
    

.lis::after{
    margin: 5px;
}



.lis, .ph5 {
    padding-bottom: 18.5px;
}


/* test scroll */

#scroll{
    background-color: var(--white);
    scroll-behavior: smooth;
}

/*  */

/* ------------------------------ */
    /* test hoover */

    .fontpropiety1:hover{
        padding-top: 3vh;
        padding-bottom: 2.8vh;
        border-bottom: 2px solid var(--grey);
        background-color: rgba(74, 74, 74, 0.074);
    }

    .fontpropiety2:hover, .fontpropiety3:hover{
        background-color: #3884ff;
    }






/* ------------------------------ */

/* flex cards */

.price{
    margin: 1.5vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.flex2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 380px;
}

.flex2b{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
}


.flex3{
    display: flex;
    flex-direction: column;
    height: 14vh;
    justify-content: space-between;
    min-height: 150px;
}

.hrl{
    width: 3vw;
}

/*  */

section{
    margin-bottom: 5vh;
    min-width: 1000px;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* .boxsec2{
    /border-bottom: 1px solid var(--lightgrey); 
} */

.section2{
    border: 1px solid var(--lightgrey);

    margin-bottom: 150px;
}

.section3{
    margin-bottom: 150px;
}

.section4{
    margin-bottom: 150px;
}

.section5{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 40px;
    padding-top: 8vw;
    padding-bottom: 8vw;

}

/* descrizioni */

#f1a{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

#f2a{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

#f3a{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}


#f1a:hover + .hidden{
    visibility: visible;
    position: relative;
    top: 48%;
} 

#f2a:hover + .hidden2{
    visibility: visible;
    position: relative;
    top: 48%;
} 

#f3a:hover + .hidden3{
    visibility: visible;
    position: relative;
    top: 48%;
} 

/* noon worka */

/* #f1c:hover + #f1b{
    transform: rotate(90deg);
} */


.hidden{
    visibility: hidden;
    position: absolute;
}

.hidden2{
    visibility: hidden;
    position: absolute;
}

.hidden3{
    visibility: hidden;
    position: absolute;
}

/* ----------------------------------- */


.flexcard1{
    display: flex;
    margin: 30px;
    justify-content: space-between;
    min-height: 160px;
}

.flexcard2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexcard3{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.flexsubcard1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexsubcard2{
    display: flex;
    flex-direction: column;
    margin: 50px;
    max-height: 300px;
}

.sar{
    margin-bottom: 30px;
}

.widthm{
    padding: 10px 40px 10px 40px;
}

.partner{
    width: 600px;
}

.descard{
    width: calc(900px / 3 );
    display: flex;
    flex-direction: column;
}

.headsec5{
    margin-bottom: 5vh;
    min-width: 1000px;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 140px;
    padding-right: 300px;
}

.flexlog{
    display: flex;
    min-width: 1200px;
    min-height: 400px;
    max-height: 32vw;
}

.quadratiloghi{
    display: flex;
    width: calc(100% / 3);
}

/* immagini compagnie */

.imgbo{
    border: 1px solid var(--black);
    width: 50%;
    min-height: 200px;
    height: 16vw;
    background: #A2D39B;
    position: relative;
    border: 0.8vw solid #d1e9cd ;
}
.imgbo2{
    width: 50%;
    min-height: 200px;
    height: 16vw;
    background: #61082B;
    position: relative;
}
.imgbo3{
    width: 50%;
    min-height: 200px;
    height: 16vw;
    background: #0093CE;
    position: relative;
}

.imgbo4{
    width: 50%;
    min-height: 200px;
    height: 16vw;
    background: #FF1C1C;
    position: relative;
}

.imgbo5{
    width: 50%;
    min-height: 200px;
    height: 16vw;
    background: #D5001F;
    position: relative;
}

.imgbo6{
    width: 50%;
    min-height: 200px;
    height: 16vw;
    background: #B4D0E7;
    position: relative;
}

.imgbo7{
    width: 50%;
    min-height: 200px;
    height: 16vw;
    background: #0D2481;
    position: relative;
}

.imgbo8{
    width: 50%;
    min-height: 200px;
    height: 16vw;
    background: #FFD830;
    position: relative;
}

/* ----------- */

#img1{
    filter: invert(100);
    position: absolute;
    top: 44%;
    left: 24%;
    width: 8vw;
    min-width: 95px;
}
#img2{
    filter: invert(100);
    position: absolute;
    top: 30%;
    left: 26%;
    width: 8vw;
    min-width: 95px;
}

#img3{
    filter: invert(100);
    position: absolute;
    top: 45%;
    left: 26%;
    width: 8vw;
    min-width: 95px;
}

#img4{
    filter: invert(100);
    position: absolute;
    top: 38%;
    left: 26%;
    width: 8vw;
    min-width: 95px;
}

#img5{
    filter: invert(100);
    position: absolute;
    top: 40%;
    left: 26%;
    width: 8vw;
    min-width: 95px;
}

#img6{
    filter: invert(100);
    position: absolute;
    top: 50%;
    left: 26%;
    width: 8vw;
    min-width: 95px;
}

#img7{
    filter: invert(100);
    position: absolute;
    top: 38%;
    left: 26%;
    width: 8vw;
    min-width: 95px;
}

#img8{
    filter: invert(100);
    position: absolute;
    top: 33%;
    left: 26%;
    width: 8vw;
    min-width: 95px;
}



.wrap{
    flex-wrap: wrap;
}

.saro{
    display: flex;
    flex-direction: column;
    padding: 50px;
    min-width: 200px;
    min-height: 400px;
    width: 35%;
    gap: 3vw;
    overflow-y: auto;
    height: 32vw;
    background-color: #f5f5f5;
}

.dim1{
    width: 280px;
}

.hrl2{ 
    width: 6vw;
}

.fontp{
    color: #61082B;
    max-width: 500px;
    margin: 0;
}

        /* footer */
            footer{
                background-color: var(--black);
            }

            

            .white{
                color: var(--white);
                list-style: none;
                margin-bottom: 15px;
            }

            .white2{
                color: var(--white);
                list-style: none;
                margin-bottom: 30px;
                font-size: 25px;
            }
            
            .foot{
                margin: 0 auto;
            
            }

            .flexfoot{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                max-width: 1300px;
                padding: 4% 0%;
                margin: 0 auto;
                
            }

            .foot2{
                margin: 0 auto;
                max-width: 1200px;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                padding-bottom: 50px;
            
            }

            .gs{
                display: block;
                height: 1px;
                background-color: var(--lightgrey);
                width: 120px;
            }

            .flexbod{
                height: 100px; 
                color: var(--lightgrey);
                background-color: #000000;
            }

            .pds{
                margin-top: 50px;
                padding-right: 5px;
               color: var(--lightgrey) ; 
            }