
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
   /* font-family: Arial, Helvetica, sans-serif; */
}

header{
    margin-bottom: 18vh;
}

a{
    text-decoration: none;
    display: inline-block;
}

:root{
    --white: #ffffff;
    --lightgrey: #D0D0D3;
    --grey: #4F7A8F;
    --black: #000000;
    --red: #ff0000;
    --blue: #0061FF;
    --azzure: #B4D0E7;
}
/* tag{
    color: var(--white);
} */

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8.5vh;
    background-color: var(--white);
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    box-shadow: 0px 2px 3px rgba(90, 90, 90, 0.203);
    min-height: 15px;
}

.fourbuttonleft{
    display: flex;
    justify-content: space-around;

    align-items: center;
}

.logo{
    width: 7vw;
    margin-right: 1.8vw;

}

.headermrg{
    margin-left: 1.2vw;
}

.fontpropiety1{
    font-size: 0.9vw;
    color: var(--black);
    padding-left: 1vw;
    padding-right: 1vw;
}

.fontpropiety2{
    font-size: 0.9vw;
    color: var(--white);
    background: var(--blue);
    padding: 0.4vw 0.9vw;
}

.firstimp{
    width: 100%;
    height: 80vh;
    background: var(--azzure);
    margin-top: 8.5vh;
    padding-left: 19vw;
    padding-top: 9vh;
    padding-bottom: 1vh;
}

.flex1{
    display: flex;
}

.flex2{
    display: flex;
    flex-direction: column;
    width: 18vw;
    justify-content: space-between;
    align-items: flex-start;
    height: 42vh;
}

.font1{
    font-size: 0.85vw;
}


h1{
    font-weight: 800;
    font-size: 4vw;
    padding-right: 20vw;
    padding-bottom: 4.8vh;
}

.arrow{
    font-size: 2.5vw;
}

.jumbo{
    width: 45vw;
}

    .uno{
        margin: 0 auto;
        max-width: 51vw;
    }

    h2{
        font-size: 2.1vw;
        font-weight: 700;
        margin-bottom: 5vh;
    }

.checkbox{
    display: flex;
    margin-bottom: 6vh;

}

.font2{
    margin-right: 5vw;
    margin-left: 0.5vw;
}

.radiusboxes{
    width: 1.3vw;
    height: 1.3vw;
}

.cards{
    display: inline-block;
    height: 110vh;
    border: 1px solid var(--lightgrey) ;
    width: calc(46vw / 3 );
}

.centr{
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 0.8vw;
    border-bottom: 1px solid var(--lightgrey) ;
}

.price{
    margin: 2vw;
}

.flexcards{
    display: flex;
    justify-content: space-between;
}

/* ------------------------------ */
    /* test hoover */

    .fontpropiety1:hover{
        padding-top: 3vh;
        padding-bottom: 2.8vh;
        border-bottom: 2px solid var(--grey);
        background-color: rgba(74, 74, 74, 0.074);
    }







/* ------------------------------ */
